@model ProductQuantityModel
@{
    ViewData["title"] = "Create Quantity";
    var Key = 1;
    var total = 0;
}
<h4>Create Quantity</h4>
<div class="col-md-9">
    <form asp-action="UpdateMoreQuantity" asp-controller="Product" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input type="hidden" name="ProductId" value="@ViewBag.Id"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Quantity</label>
            <input min="1" value="1" asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Add</button>
        </div>
    </form>
    <h3>Existing Product Quantities:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Quantity ID</th>
                <th>Quantity</th>
                <th>Added Date</th>
            </tr>
        </thead>
        <tbody>
           
            @foreach (var qty in ViewBag.ProductQuantity)
            {
                total += qty.Quantity;
                <tr>
                    <td>@Key</td>
                    <td>@qty.Quantity</td>
                    <td>@qty.DateCreated</td>
                </tr>
                Key++;
            }
            <tr>
                <td>Total : @total</td>
            </tr>
    </table>
    <a asp-action="Index" asp-controller="Product">Back to List Product</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
