@using QuanLyNhaHangDemo.Models.ViewModels
@model CartItemViewModel
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					@if (Model.CartItems.Count > 0)
					{
						foreach(var item in Model.CartItems)
						{
							<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/three.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">@item.ProductName</a></h4>
								
							</td>

							<td class="cart_price">
								<p>@item.Price</p>
							</td>
							<td>
									<a class="btn btn-default btm-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductId"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
									<a class="btn btn-success btm-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductId"> - </a>
									<a class="btn btn-danger btm-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId"> Remove </a>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">@Model.CartItems.Where(x=>x.ProductId==item.ProductId).Sum(x=>x.Quantity*x.Price).ToString()</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						}
						<tr rowspan ="5">
                            <td colspan="6">Grand Total: <p class="cart_total_price">@Model.GrandTotal.ToString()</p></td>
							<td colspan="6">
								ShippingCost:
								<p id="shipping-cost" class="cart_total_price">
									@Model.ShippingCost
								</p>
							</td>

							<td>
								@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Customer"))
								{
									<div class="form-group">
										<label>Chọn</label>
										<select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
											<option value="0">Tỉnh Thành</option>
										</select>
									</div>

									<div class="form-group">
										<label>Chọn</label>
										<select class="css_select" id="quan" name="quan" title="Chọn Phường Xã">
											<option value="0">Phường Xã</option>
										</select>
									</div>

									<input type="hidden" id="price-shipping" value="0" />
									<button type="button" class="btn btn-default btn-add-shipping">Tính Phí Ship</button>
								}
								else
								{
									<p>Chỉ khách hàng (Customer) mới được tính phí ship.</p>
								}
							</td>

                            <td><a class="btn btn-danger btm-sm" asp-controller="Cart" asp-action="Clear"> Clear </a></td>
							<td>
								<a class="btn btn-primary btm-sm" asp-controller="Checkout" asp-action="Checkout"> Checkout </a>
							</td>
							
							
						</tr>
					}
					else
					{
						<tr>
							<td colspan="5"><h4>Your cart is empty</h4></td>
						</tr>
						
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
@section Scripts {
	<script>
		$(document).ready(function() {
			//Lấy tỉnh thành
			$.getJSON('https://esgoo.net/api-tinhthanh-new/1/0.htm',function(data_tinh){
				if(data_tinh.error==0){
				   $.each(data_tinh.data, function (key_tinh,val_tinh) {
					  $("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.full_name+'</option>');
				   });
				   $("#tinh").change(function(e){
						var idtinh=$(this).val();
						//Lấy phường xã
						$.getJSON('https://esgoo.net/api-tinhthanh-new/2/'+idtinh+'.htm',function(data_quan){
							if(data_quan.error==0){
							   $("#quan").html('<option value="0">Phường Xã</option>');
							   $.each(data_quan.data, function (key_quan,val_quan) {
								  $("#quan").append('<option value="'+val_quan.id+'">'+val_quan.full_name+'</option>');
							   });
							}
						});
				   });

				}
			});
		 });
	</script>
	<script>
		$(".btn-add-shipping").click(function () {
			var tinh = $("#tinh").find('option:selected').text();
			var quan = $("#quan").find('option:selected').text();
			var price = $("#price-shipping").val();
			if (tinh == '' || quan == '' || price == '') {
				Swal.fire("Vui lòng nhập đầy đủ thông tin.");
			} else {
				$.ajax({
					type: "POST",
					url: '@Url.Action("GetShipping", "Cart")',
					data: { tinh: tinh, quan: quan, price: price },
					success: function (result) {							
						Swal.fire("Phí vận chuyển: " + result.shippingPrice);
						$("#shipping-cost").text(result.shippingPrice);			
						var grand = parseFloat('@Model.GrandTotal');
						var newTotal = grand + result.shippingPrice;
						$("#grand-total").text(newTotal);
					},
					error: function () {
						Swal.fire("Lỗi server!");
					}
				});
			}
		});
    </script>

}