@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Orders Listed";
}

<h3>List Order</h3>
<a asp-action="CompletedOrders"
   asp-controller="Order"
   class="btn btn-success mb-3">
    Xem đơn hoàn thành & doanh thu
</a>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Order Code</th>
            <th>Shipping Cost</th>
            <th>User Name</th>
            <th>Order Date</th>
            <th>Order Status</th>
            <th>Delete</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#</td>
                <td>@item.OrderCode</td>
                <td>@item.ShippingCost.ToString("#,##0 VND")</td>
                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>
                <td>
                    @if (item.Status == 0)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (item.Status == 1)
                    {
                        <span class="text text-warning">Đang xử lý</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="text text-primary">Hoàn thành</span>
                    }
                    else if (item.Status == 3)
                    {
                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                @if (item.Status == 3)
                {
                    <td>
                        <a asp-action="Delete"
                           asp-controller="Order"
                           asp-route-ordercode="@item.OrderCode"
                           class="btn btn-danger btn-sm confirmDeletion">
                            Delete
                        </a>
                    </td>
                }
               
                @if (item.Status != 3)
                {
                    <td>
                    <a asp-action="ViewOrder"
                       asp-controller="Order"
                       asp-route-ordercode="@item.OrderCode"
                       class="btn btn-warning btn-sm">
                        View Order
                    </a>
                    
                </td>
                }
                
            </tr>
        }
    </tbody>
</table>
