@model IEnumerable<OrderDetails>

@{
    ViewData["title"] = "Order Details";
    decimal total = 0; // Store total amount
    decimal subtotal = 0;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Details</title>
</head>
<body>
    <h3>Order Details</h3>


    <div class="table table-responsive">
    <table class="table" id="detail_order">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order Code</th>
                <th>UserName</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
           
            @foreach (var item in Model)
            {
                subtotal = item.Quantity * item.Price; //số lượng * giá
                total += subtotal; 
                <tr>
                    <input type="hidden" asp-for="@item.OrderCode" class="getId" />
                    <td>@item.Id</td>
                    <td>@item.OrderCode</td>
                    <td>@item.UserName</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Price.ToString("#,##0 VNĐ")</td>
                    <td>@item.Quantity</td>
                    <td>@subtotal.ToString("#,##0 VNĐ")</td>
                    <td>
                        @if (item.Status == 0)
                        {
                            <span class="text text-success">Đang Chuẩn Bị</span>
                        }
                        else if(item.Status==1)
                        {
                            <span class="text text-erroe">Đang chế biến</span>
                        }
                        else
                        {
                            <span class="text text-erroe">Hoàn Thành</span>
                        }
                    </td>
                </tr>
            }
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Tổng : @total.ToString("#,##0 đ")</td>
                <td>
                        <select class="form-control select-update-order">
                            @foreach (var item in ViewBag.StatusList as List<SelectListItem>)
                            {
                                <option value="@item.Value" selected="@(item.Value == ViewBag.Status.ToString() ? "selected" : null)">
                                    @item.Text
                                </option>
                            }
                        </select>
                </td>
                    
            </tr>
        </tbody>
    </table>
   
    </div>
</body>

</html>
@section Scripts{
    <script>
        new DataTable('#detail_order', {
            layout: {
                topStart: {
                    buttons: [
                        {
                            extend: 'pdf',
                            exportOptions: {
                                 columns: [0, 1, 2, 3, 4, 5, 6]
                            }
                        },
                        {
                            extend: 'print',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6]
                            }
                        }
                    ]
                }
            }
        });
    </script>


    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val(); //status = 1
                var ordercode = $('.getId').val(); //
                // alert(status);
                // alert(ordercode);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode }, // Send data to the server
                   
                    success: function (result) {
                        // Handle successful update
                        if (result.success) {

                            Swal.fire("Cập nhật đơn hàng thành công.").then(() => {
                                window.location.href = '@Url.Action("Index")';  // Chuyển lại trang Index
                            });
                        } else {
                          
                            Swal.fire("Cập nhật đơn hàng thất bại." + result.message);
                           
                        }
                    }
                   
                });
            });
        });
    </script>
}

    