@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "List History Orders" + " "+@ViewBag.UserEmail;
}
<h3>List History Orders"</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">Shipping Cost</th>
            <th scope="col">User Name</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th scope="col">Order View</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>#</th>
                <th scope="row">@item.OrderCode</th>
                <td>@item.ShippingCost.ToString("#,##0 VND")</td>
                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>

                <td>
                    @if (item.Status == 0)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="text text-success">Hoàn thành</span>
                    }
                    else if (item.Status == 1)
                    {
                        <span class="text text-success">Đang xử lý</span>
                    }
                    else if (item.Status == 3)
                    {
                        <span class="text text-success">Đã hủy</span>
                    }

                </td>
                <td>
                    @if (item.Status != 3&&item.Status!=2)
                    {
                        <a asp-action="CancelOrder" class="btn btn-warning btn-sm" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Cancel</a>
                    }
                    
                    
                </td>
                <td>
                    <a class="btn btn-sm btn-primary"
                       asp-controller="OrderCustomer"
                       asp-action="ViewOrder"
                       asp-route-ordercode="@item.OrderCode">
                        Xem chi tiết
                    </a>
                </td>
                
            </tr>
        }


    </tbody>
</table>